h1{
  color: brown;
  text-align: center;
  font-size: 2em;
  font-family: cursive;
}

h2{
  color: olivedrab;
  text-align: center;

}

p{
  text-align: center;
}

button{
  color: antiquewhite;
  background-color: darkred;
}
.box1{
  border: 1px solid darkslateblue;
  background-color: darkorange;
  text-align: center;
}
